html{
    background-color: skyblue;
}
h1{
    color: rgb(0, 255, 157);
}
img{
    width: 400px;
    height: 300px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: rgba(185, 117, 28, 0.712);
    padding: 50px;
    border: 5px solid burlywood;
}
#spanId{
    font-size: 18px;
    margin: 50px;

}